<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Currículum 202208521</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Roboto";
      }

      table {
        border-collapse: collapse;
      }

      table,
      td,
      th {
        border: 1px solid;
      }

      ul {
        list-style: disc;
        margin-left: 20px;
        padding-left: 20px;
      }

      div {
        margin-bottom: 10px;
      }

      h2 {
        margin-bottom: 5px;
      }

      th, td {
        padding: 5px
      }

      .img-profesional {
        width: 500px;
        border-radius: 50px;
      }
    </style>
  </head>
  <body>
    <main style="padding: 40px">
      <div>
        <h1>Currículum de Luis Morales</h1>
      </div>
      <hr>
      <div>
        <h2>Datos personales</h2>
        <ul>
          <li><b>Nombre: </b> Luis Rodrigo Morales Florián</li>
          <li><b>Edad: </b> 20 años</li>
          <li><b>Dirección: </b> Bosques de San Nicolás, Mixco</li>
        </ul>
      </div>
      <div>
        <h2>Datos de contacto</h2>
        <ul>
          <li><b>Número de teléfono: </b> 5624-2618</li>
          <li><b>Email: </b> 3683798410101@ingenieria.usac.edu.gt</li>
        </ul>
      </div>
      <div>
        <h2>Tabla de nivel de estudios</h2>
        <table>
          <thead>
            <tr>
              <th>Nivel</th>
              <th>Institución</th>
              <th>Estudio</th>
              <th>Período</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Diversificado</td>
              <td>Fundación Kinal</td>
              <td>Perito en Computación</td>
              <td>2019-2021</td>
            </tr>
            <tr>
              <td>Pregrado</td>
              <td>Universidad de San Carlos de Guatemala</td>
              <td>Ingeniería en Ciencias y Sistemas</td>
              <td>2022-</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h2>Tabla de habilidades</h2>
        <table>
          <tbody>
            <tr>
              <td>HTML/CSS</td>
            </tr>
            <tr>
              <td>Javascript</td>
            </tr>
            <tr>
              <td>Python</td>
            </tr>
            <tr>
              <td>PHP</td>
            </tr>
            <tr>
              <td>Java</td>
            </tr>
            <tr>
              <td>React.js</td>
            </tr>
            <tr>
              <td>Vue.js</td>
            </tr>
            <tr>
              <td>MySQL</td>
            </tr>
            <tr>
              <td>MongoDB</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h2>Foto profesional</h2>
        <img class="img-profesional" src="https://res.cloudinary.com/dyin2bpxi/image/upload/v1696818545/20220220_154453_pkf67r.jpg" />
      </div>
      <div>
        <h2>Lista Intereses y hobbies</h2>
        <ul>
          <li>Programación en tiempo libre</li>
          <li>Explorar nuevas tecnologías y lenguajes de programación</li>
          <li>Desarrollar aplicaciones o sitios web personales</li>
          <li>Participar en comunidades en línea de desarrollo web</li>
          <li>Participar en grupos de estudio o meetups de tecnología</li>
          <li>Aprender sobre diseño web y UI/UX</li>
          <li>
            Participación en grupos de juegos en línea o desarrollo de juegos
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
